<div>
  <p class="back">
    <label ng-if="ctlr.userId">back to <a ui-sref="users-posts({ userId: ctrl.userId })">Posts</a></label>
    <label ng-if="!ctrl.userId">back to <a ui-sref="posts">Posts</a></label>
  </p>
  <h1>{{ctrl.title}}</h1>
  <search-bar></search-bar>
  <div class="table-container">
    <div class="loading" ng-if="ctrl.loading">
      <i class="fa fa-refresh fa-spin-custom"></i>
    </div>
    <table class="table users" ng-if="!ctrl.loading">
      <thead>
        <tr class="row">
          <th class="left">Id</th>
          <th class="left">Name</th>
          <th class="left">Email</th>
          <th class="left">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="comment in ctrl.dataSource | pagination:ctrl.paginator.rangeStart:ctrl.paginator.rangeEnd | filter: ctrl.searchText" class="row">
          <td class="left" ng-bind="comment.id"></td>
          <td class="left" ng-bind="comment.name"></td>
          <td class="left" ng-bind="comment.email"></td>
          <td class="left" ng-bind="comment.body"></td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>
<paginator></paginator>