<div>
	<p class="back">
    <label ng-if="ctrl.userId">back to <a ui-sref="users-albums({ userId: ctrl.userId })">Albums</a></label>
    <label ng-if="!ctrl.userId">back to <a ui-sref="albums">Albums</a></label>
	</p>
	<h1>{{ctrl.title}}</h1>
	<search-bar></search-bar>
	<div class="table-container">
		<div class="loading" ng-if="ctrl.loading">
      <i class="fa fa-refresh fa-spin-custom"></i>
    </div>
    <table class="table users" ng-if="!ctrl.loading">
      <thead>
        <tr class="row">
          <th class="left">Id</th>
          <th class="left">Title</th>
          <th class="left">Url</th>
          <th>Thumbnail</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="photo in ctrl.dataSource | pagination:ctrl.paginator.rangeStart:ctrl.paginator.rangeEnd | filter: ctrl.searchText" class="row">
          <td class="left" ng-bind="photo.id"></td>
          <td class="left" ng-bind="photo.title"></td>
          <td class="left"><a ng-href="{{photo.url}}" ng-bind="photo.url"></a></td>
          <td>
            <img ng-src="{{photo.thumbnailUrl}}" alt="{{photo.title}}" />
          </td>
        </tr>
      </tbody>
    </table>
	</div>
</div>
<paginator></paginator>