<div>
	<p class="back">
		<label ng-if="ctlr.userId">back to <a ui-sref="users">Users</a></label>
    <label ng-if="!ctrl.userId">back to <a ui-sref="home">Home</a></label>
	</p>
	<h1>{{ctrl.title}}</h1>
	<search-bar></search-bar>
	<div class="table-container">
		<div class="loading" ng-if="ctrl.loading">
      <i class="fa fa-refresh fa-spin-custom"></i>
    </div>
    <table class="table users" ng-if="!ctrl.loading">
      <thead>
        <tr class="row">
          <th class="left">Id</th>
          <th class="left">Title</th>
          <th class="left">Post</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in ctrl.dataSource | pagination:ctrl.paginator.rangeStart:ctrl.paginator.rangeEnd | filter: ctrl.searchText" class="row">
          <td class="left" ng-bind="post.id"></td>
          <td class="left" ng-bind="post.title"></td>
          <td class="left" ng-bind="post.body"></td>
          <td>
            <a ng-if="ctrl.userId" ui-sref="users-posts-comments({ userId: ctrl.userId, postId: post.id })">
              <i class="fa fa-comments"></i>
            </a>
            <a ng-if="!ctrl.userId" ui-sref="posts-comments({ postId: post.id })">
              <i class="fa fa-comments"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
	</div>
</div>
<paginator></paginator>