<div>
	<p class="back">
		<label ng-if="ctlr.userId">back to <a ui-sref="users">Users</a></label>
    <label ng-if="!ctrl.userId">back to <a ui-sref="home">Home</a></label>
	</p>
	<h1>{{ctrl.title}}</h1>
	<search-bar></search-bar>
	<div class="table-container">
		<div class="loading" ng-if="ctrl.loading">
      <i class="fa fa-refresh fa-spin-custom"></i>
    </div>
    <table class="table users" ng-if="!ctrl.loading">
      <thead>
        <tr class="row">
          <th class="left">Id</th>
          <th class="left">Title</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="todo in ctrl.dataSource | pagination:ctrl.paginator.rangeStart:ctrl.paginator.rangeEnd | filter: ctrl.searchText" class="row">
          <td class="left" ng-bind="todo.id"></td>
          <td class="left" ng-bind="todo.title"></td>
          <td>
            <i class="fa" ng-class="{ 'fa-check': todo.completed }"></i>
          </td>
        </tr>
      </tbody>
    </table>
	</div>
</div>
<paginator></paginator>