<div>
	<p class="back">
		back to <a ui-sref="home">Home</a>
	</p>
	<h1>{{ctrl.title}}</h1>
	<search-bar></search-bar>
	<div class="table-container">
		<div class="loading" ng-if="ctrl.loading">
      <i class="fa fa-refresh fa-spin-custom"></i>
    </div>
    <table class="table users" ng-if="!ctrl.loading">
      <thead>
        <tr class="row">
          <th class="left">Id</th>
          <th class="left">Username</th>
          <th class="left">Name</th>
          <th>Albums</th>
          <th>Posts</th>
          <th>Todos</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in ctrl.dataSource | pagination:ctrl.paginator.rangeStart:ctrl.paginator.rangeEnd | filter: ctrl.searchText" class="row">
          <td class="left" ng-bind="user.id"></td>
          <td class="left" ng-bind="user.username"></td>
          <td class="left" ng-bind="user.name"></td>
          <td>
            <a ui-sref="users-albums({ userId: user.id })">
              <i class="fa fa-picture-o"></i>
            </a>
          </td>
          <td>
            <a ui-sref="users-posts({ userId: user.id })">
              <i class="fa fa-book"></i>
            </a>
          </td>
          <td>
            <a ui-sref="users-todos({ userId: user.id })">
              <i class="fa fa-list-ul"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
	</div>
</div>
<paginator></paginator>