body{
  font-family: Calibri, 'Gill Sans', Arial, Verdana, sans-serif;
  background-color: #eee;
  font-size: 14px;
}
.container-fluid{
  max-width: 1400px;
  margin-bottom: 80px;
}
.app-title{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
.back{
  margin-top: 20px;
}
.container {
  padding: 20px 40px;
  min-height: 300px;
}
.nav-bar{
  padding: 10px;
  background-color: #aaa;
  border: 1px solid #999;
  border-radius: 4px;
}
.nav-bar a{
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.nav-bar a:hover{
  text-decoration: underline;
  color: #f9f9f9;
}
.nav-bar .active, .nav-bar .active:hover{
  color: #76e9ff;
  text-decoration: none;
}
.back, .back a{
  color: #26c4f1;
}
.table-container{
  text-align: center;
}
table{
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  background-color: #fff;
}
table th{
  min-width: 200px;
  text-align: center;
  border: 1px solid #999;
  border-width: 1px 0;
  background-color: #26c4f1;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
}
table td{
  text-align: center;
  border-bottom: 1px solid #999;
  vertical-align: middle !important;
  padding: 5px;
}
table tr:hover td{
  background-color: #76e9ff;
}
table td.left, table th.left{
  text-align: left;
}
table td img{
  width: 50px;
  border: 1px solid #888;
}
.search-bar{
    margin-bottom: 25px;
}
.search-bar-inner{
    text-align: right;
}
.search-bar input{
    outline:0;
    border: 3px solid #aaa;
    border-radius: 10px;
    width: 300px;
    font-size: 14px;
    padding: 0 5px;
    height: 36px;
}
.search-bar img{
  width: 24px; 
  position: relative;
  left: -30px;
  top: 0;
}
.paginator{
  float: right;
  user-select: none;
}
.paginator span, .paginator select{
  margin: 0 5px;
}
.table .fa, .paginator .fa{
  cursor: pointer;
}
.loading{
  height: 300px;  
  text-align: center;
  font-size: 40px;
  position: relative;
  top: 100px;
}
.fa-spin-custom {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
